<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ADMIN STORE</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <a href="/logout" role="button" class="btn btn-danger position-fixed top-0 end-0 mt-3 mr-3">Log Out</a>
        <h1 style="font-family: 'Times New Roman', Times, serif;">BANSAL GROCERY STORE</h1>
        <div class="p-3 mb-2 bg-info-subtle text-emphasis-info">Hey Admin! What would you like to do today?😉</div>
        <br>
        <div class="container mt-5">
            <div class="row">
              <!-- Left Column for Image -->
              <div class="col-md-6">
                <img src="https://img.freepik.com/free-vector/farmers-market-concept-illustration_114360-8836.jpg">
              </div>
              <div class="col-md-6">
                <a href="/createcategory" role="button" class="btn btn-primary btn-lg">Create Category</a>
                <br>
                <br>
                <a href="/editcategory" role="button" class="btn btn-secondary btn-lg">Edit Category</a>
                <br>
                <br>
                <a href="/createproducts" role="button" class="btn btn-primary btn-lg">Add products</a>
                <br>
                <br>
                <a href="/editproducts" role="button" class="btn btn-secondary btn-lg">Edit Products</a>
                <br>
                <br>
            </div>
            </div>
        </div>
        <div class="p-3 mb-2 bg-info-subtle text-emphasis-info">You know, while editing you can also delete!😉</div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>