<html>
<head>
    <meta charset="UTF-8">
    <title>UserLogin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center;">BANSAL GROCERY STORE</h2>
    <div class="p-3 mb-2 bg-info-subtle text-emphasis-info" style="text-align: center;">{{message}}</div>
    <div class="container mt-5">
        <div class="row">
            <!-- Left Column for Image -->
            <div class="col-md-6">
            <img src="https://img.freepik.com/premium-vector/grocery-store-building-shop-market-supermarket-vector-illustration-flat-style_193165-316.jpg" width="500" height="500">
            </div>
            <div class="col-md-6"> 
                <form action="/" method="POST" id = "userlogin">
                    <div class="mb-3">
                        <label for="Username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="Username" required/>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="Password" required/> 
                    </div>
                </form>
                <button type="submit" form="userlogin" value="login" class="btn btn-success">LOGIN</button>
                <a href="/register" role="button" class="btn btn-primary">Register!</a>
                <br>
                <br>
                <p>Are you an Admin?</p>
                <a href="/adminlogin" target="_blank" role="button" class="btn btn-success">Admin Login</a>
            </div>
        </div>
    </div>
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f0f0f0; padding: 10px; text-align: center; font-family: 'Times New Roman', Times, serif;">
        <div class="p-3 mb-2 bg-info-subtle text-emphasis-info">BANSAL GROCERY STORE</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
